<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Wymagane do polaczenia z backendem. flutter create nie dodaje tego
         automatycznie do buildow release, przez co aplikacja "wisiala"
         przy logowaniu. -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <!-- Wymagane do płatności w aplikacji (Google Play Billing). -->
    <uses-permission android:name="com.android.vending.BILLING"/>
    <!-- Wymagane przez image_picker do robienia zdjęć komentarzy pod
         przepisami (galeria na nowoczesnym Androidzie nie wymaga osobnego
         uprawnienia dzięki systemowemu Photo Pickerowi, ale aparat — tak). -->
    <uses-permission android:name="android.permission.CAMERA"/>
    <application
        android:label="Meal Planner Polska"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <!-- UWAGA (NAPRAWA AWARYJNA — TYMCZASOWO WYLACZONE, sierpien
             2026): SDK google_mobile_ads zostal calkowicie usuniety z
             buildu (patrz pubspec.yaml) po awarii aplikacji przy
             starcie. Ten wpis jest teraz nieszkodliwy, ale bezuzyteczny
             bez samego SDK - zakomentowany dla porzadku, do przywrocenia
             razem z zaleznoscia, gdy przyczyna awarii zostanie
             zdiagnozowana na podstawie prawdziwych logow.
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
        -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <!-- Pozwala aplikacji pojawić się w systemowym menu "Udostępnij"
                 z innych aplikacji (np. TikTok, Instagram) — użytkownik
                 udostępnia link do filmiku, a aplikacja rozpoznaje z niego
                 przepis przez AI. Wymaga MIME "text/plain", bo to właśnie
                 tym typem TikTok udostępnia linki. -->
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- WYMAGANE OD ANDROIDA 11: bez zadeklarowania, że aplikacja
             zamierza otwierać adresy http(s), system UKRYWA przed nią
             wszystkie przeglądarki. Skutek: canLaunchUrl() zawsze zwracał
             false i linki do regulaminu oraz polityki prywatności na
             ekranie Premium kończyły się komunikatem o błędzie, mimo że
             adresy były poprawne. Dotyczy każdego użycia url_launcher
             z adresem internetowym. -->
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="https"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="http"/>
        </intent>
        <!-- Otwieranie klienta poczty (kontakt/wsparcie). -->
        <intent>
            <action android:name="android.intent.action.SENDTO"/>
            <data android:scheme="mailto"/>
        </intent>
    </queries>
</manifest>
